body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  text-align: center;
  padding: 10px;
  position: absolute;
  left: 800px;
  width: 400px;
}

.main {
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
}

ul, li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
}

#counter {
  font-size: 120px;
  width: 140px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.tri-holder {
  margin: 0px 0;
}

.plus-minus {
  position: relative;
  font-size: 20px;
  top: 30px;
  color: white;
  z-index: 1;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.comments-container {
  margin-top: 40px;
  text-align: left;
}

#comments-box {
  width: 100%;
  max-width: 100%;
  height: 100px;
}

.btn-wrapper {
  text-align: right;
}

/* triangle credit goes to:
http://dabblet.com/gist/4592062 */

.triangle {
  position: relative;
  background-color: rgba(0,0,0,1);
  text-align: left;
  cursor: pointer;
}
.triangle:before,
.triangle:after {
  content: '';
  position: absolute;
  background-color: inherit;
  cursor: pointer;
}
.triangle,
.triangle:before,
.triangle:after {
  width:  30px;
  height: 30px;
  border-top-right-radius: 30%;
}

.triangle {
  transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
  transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

.tri-down {
  position: relative;
  background-color: rgba(0,0,0,1);
  text-align: left;
  left: 8px;
  cursor: pointer;
}
.tri-down:before,
.tri-down:after {
  content: '';
  position: absolute;
  background-color: inherit;
  cursor: pointer;
}
.tri-down,
.tri-down:before,
.tri-down:after {
  width:  30px;
  height: 30px;
  border-top-right-radius: 30%;
}

.tri-down {
  transform: rotate(-0deg) skewX(-30deg) scale(1,.866);
}
.tri-down:before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.tri-down:after {
  transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}
